.gradient {
	background: linear-gradient(230deg, #FC5C7D, #6A82FB);
	background-size: 400% 400%;
	background-attachment: fixed;
	min-height: 100vh;
	min-width: 100vw;
	z-index: 100;
	-webkit-animation: MoveBG 60s ease infinite;
	-moz-animation: MoveBG 60s ease infinite;
	-o-animation: MoveBG 60s ease infinite;
	animation: MoveBG 60s ease infinite;
}

@-webkit-keyframes MoveBG {
    0%{background-position:13% 88%}
    50%{background-position:88% 13%}
    100%{background-position:13% 88%}
}

@-moz-keyframes MoveBG {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@-o-keyframes MoveBG {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@keyframes MoveBG { 
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}