---
---

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

$primary: rgb(120, 241, 249);
$info: rgb(40, 194, 255);
$dark: rgb(3, 7, 14);

$body-background-color: transparent;

$navbar-height: 3.25rem;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: black;
$navbar-dropdown-arrow: white;
$navbar-dropdown-background-color: #3dc9e6;
$navbar-dropdown-item-hover-color: $navbar-item-hover-color;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-background-color: transparent;

$title-color: white;
$subtitle-color: white;
$dimensions: 16 24 32 48 64 96 128 256;

body {
    // overflow-x: hidden;
}
.spaced {
    letter-spacing: 0.2rem;
}
.make-nunito {
    font-family: 'Nunito Sans', sans-serif;
}
.fullcenter {
    margin-top: -$navbar-height;
}

.make-bungee {
    font-family: 'Bungee Shade', cursive;
    color: white;
}

.make-roboto {
    font-family: 'Roboto', sans-serif;
}

.navbar.is-spaced .navbar-dropdown,
.navbar-dropdown.is-boxed,
.navbar-item, .navbar-link {
    border-radius: 0px;
    outline: 0;
}

.navbar-brand a.navbar-item:hover {
    background-color: $navbar-item-hover-background-color !important;
}

.columns.is-centered {
    justify-content: center;
    align-items: center;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

img.is-rounded {
    border-radius: 100%;
    height: 80%;
    width: 80%;
}

.purchase-button {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10px;
}

.padded {
    padding-top: 15px;
}

@import "bulma.sass";
@import "gradient.css";
